
{deps, [
    {rebar_retest_plugin, ".*",
        {git, "git://github.com/hyperthunk/rebar_retest_plugin.git"}},
    {rebar_paths_plugin, ".*",
        {git, "git://github.com/hyperthunk/rebar_paths_plugin.git"}}
]}.

{plugin_dir, "src"}.
{plugins, [rebar_skip_deps,
           rebar_paths_plugin,
           rebar_retest_plugin]}.

{path_opts, [
    {retest, [{prepend, ["ebin"]}]}
]}.
{skip_dep_cmds, [clean, retest]}.

{retest_testdir, "inttest"}.
{retest_verbose, true}.
